<ion-view view-title="{{lesson.summary}}">
  <ion-content>
    <ion-list>
      <ion-item class="item-divider">{{lesson.name}}</ion-item>
      <ion-item>Teacher: {{lesson.teacher}}</ion-item>
      <ion-item>Course: {{lesson.code}}</ion-item>
      <ion-item ng-if="lesson.groups.length === 1">Groups: {{lesson.groups[0]}}</ion-item>
        <ion-list ng-if="lesson.groups.length > 1" ng-repeat="group in lesson.groups">
          <ion-item class="item-divider">Groups</ion-item>
          <ion-item>{{group}}</ion-item>
        </ion-list>
      <ion-item class="item-divider">Location</ion-item>
      <ion-item>{{lesson.room}}</ion-item>
      <ion-item>{{lesson.roomInfo}}</ion-item>
    </ion-list>
  </ion-content>
</ion-view>
