<ion-view view-title="Settings">
  <ion-content>
    <div class="card">
      <div class="item item-divider">
        Change your group
      </div>
      <div class="item item-text-wrap">
        <form ng-submit="changeGroup()">
          <div class="list">
            <label class="item item-input ">
              <span class="input-label">Group name</span>
              <input type="text" ng-model="groupInfo.group">
            </label>
            <div class="row">
              <div class="col col-50 col-offset-50">
                <button class="button button-block button-positive icon-right ion-android-send" type="submit">Change</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="card">
      <div class="item item-divider">Add to calendar</div>
      <div class="item item-text-wrap">
        <h2>Adds next week's timetable to your calendar</h2>
        <p><i class="icon ion-android-alert"></i> If you are using Google Calendar, you may have default notification set for calendar events! Check your settings!</p>
        <p>Also currently this adds a reminder to when the event starts (at 0 mins)</p>
        <form ng-submit="addToCalendar()">
          <label class="item item-input item-select item-stacked-label">
            <span class="input-label">Set start date</span>
            <select class="">
              <option selected value="today">Today</option>
              <option value="tomorrow">Tomorrow</option>
              <option value="monday">Next monday</option>
            </select>
          </label>
          <label class="item item-input ">
            <span class="input-label">Select start date</span>
            <ionic-datepicker input-obj="datepickerObject">
              <button type="button" class="button button-positive icon-right ion-android-calendar">{{datepickerObject.inputDate | date:'dd.MM.yy'}}</button>
            </ionic-datepicker>
          </label>
          <label class="item item-input ">
            <span class="input-label">How many weeks?</span>
            <input type="number" min="1" ng-model="reminder.weeks">
          </label>
          <label class="item item-input item-select">
            <span class="input-label">Set reminder</span>
            <select ng-model="reminder.time" class="">
              <option value="null">No reminder</option>
              <option value="5">5 minutes</option>
              <option selected value="10">10 minutes</option>
              <option value="15">15 minutes</option>
            </select>
          </label>
          <div class="row">
            <div class="col col-50 col-offset-50">
              <button class="button button-block button-positive icon-right ion-android-send" type="submit">Add</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </ion-content>
</ion-view>
