<ion-view cache-view="false" view-title="{{'view_titles.week' | i18next}} {{ currentDate.toLocaleDateString(navigator.language, {day:'numeric', month:'numeric'} ) }} — {{ endDate.toLocaleDateString(navigator.language, {day:'numeric', month:'numeric'} ) }}">
  <ion-header-bar class="bar-subheader">
    <div class="button-bar bar-calm">
      <a class="button button-raised ink-dark icon ion-android-arrow-back" ng-click="moveWeek(-1)"></a>
      <a class="button button-raised ink-dark icon ion-android-arrow-forward" ng-click="moveWeek(1)"></a>
    </div>
  </ion-header-bar>
  <ion-content>
    <ion-list ng-repeat="day in days" class="animate-ripple" ng-last-repeat="myList">
      <!-- Eech day's list item -->
      <ion-item class="item-divider">
        <date></date>
      </ion-item>
      <!-- Each lesson per day item -->
      <ion-item ng-repeat="lesson in day.lessons" ng-if="day.lessons.length > 0">
        <ion-list class="card calm-bg light">
          <time-range class="item item-divider time-range"></time-range>
          <ion-item>
            <a class="lessonlink" href="#/app/today/{{lesson.id}}">
            {{lesson.name}}
            <br/> {{lesson.code}}
          </a>
          </ion-item>
          <ion-item class="card-footer">
            {{lesson.room}}
          </ion-item>
        </ion-list>
      </ion-item>
      <ion-item ng-if="day.lessons.length === 0">
        <div class="card calm-bg light padding">
          <div class="item item-text-wrap">
            {{'week.no_lessons' | i18next}}
          </div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
