<ion-view cache-view="false" view-title="Week {{ days[0].date.toLocaleDateString('fi-FI', {day:'numeric', month:'numeric'} ) }} — {{ days[days.length - 1].date.toLocaleDateString('fi-FI', {day:'numeric', month:'numeric'} ) }}">
    <ion-header-bar class="bar-subheader">
        <div class="button-bar">
            <a class="button button-calm icon-right ion-arrow-left-a" ng-click="moveWeek(-1)">Previous week</a>
            <a class="button button-calm icon-left ion-arrow-right-a" ng-click="moveWeek(1)">Next week</a>
        </div>
    </ion-header-bar>

    <ion-content>

        <ion-list>
            <div ng-repeat="day in days">
                <ion-item class="item-divider">{{day.date.toLocaleDateString('fi-FI', {weekday: 'short', day: 'numeric', month:'numeric'})}}</ion-item>
                <ion-item>
                    <div class="card" ng-repeat="appointment in day.appointments">
                        <div class="item item-divider">
                            {{appointment.startDate.toLocaleTimeString('fi-FI', {hour:'numeric', minute:'numeric'})}} — {{appointment.endDate.toLocaleTimeString('fi-FI', {hour:'numeric', minute:'numeric'})}}
                        </div>
                        <a class="appointmentlink" ng-click="openAppointment(appointment.id)" href="#/app/week/{{appointment.id}}">
                            <div class="item item-text-wrap">
                                {{appointment.summary}}
                                <br/> {{appointment.description}}
                            </div>
                        </a>
                        <div class="item item-divider">
                            {{appointment.location}}

                        </div>
                    </div>
                </ion-item>
            </div>
        </ion-list>
    </ion-content>
</ion-view>