<ion-view view-title="Week">
    <!--Insert today's formatted timetable here-->
    <ion-content>
        <div class="card">
            <div class="item item-divider">
                Enter group name
            </div>
            <div class="item item-text-wrap">
                <form ng-submit="getTimetable()">
                    <div class="list">
                        <label class="item item-input">
                            <span class="input-label">Group name</span>
                            <input type="text" ng-model="groupInfo.group">
                        </label>
                        <div class="item item-input">
                            <button class="button button-calm" type="submit">
                                Search
                                <i class="icon ion-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="card">
            <div class="item item-divider">
                Timetable in next 7 days
            </div>
            <div class="item item-text-wrap">
                <div class="card" ng-repeat="appointment in appointments">
                    <div class="item item-divider">
                        {{appointment.start}} — {{appointment.end}}
                    </div>
                    <a ng-click="openAppointment(appointment.id)" href="#/app/week/{{appointment.id}}">
                        <div class="item item-text-wrap">
                            {{appointment.summary}}
                            <br/> {{appointment.description}}
                        </div>
                    </a>
                    <div class="item item-divider">
                        {{appointment.location}}

                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>