$RobotoDraftFontPath: "../lib/robotodraft/fonts";
$RobotoDraftFontName: "RobotoDraft";
$RobotoDraftFontVersion: "1.0.0";
$timeRangeColor: #f8f8f8;
@import "../www/lib/robotodraft/sass/robotodraft.scss";
@mixin transform($tr) {
  -webkit-transform: $tr;
  transform: $tr;
}
.material-icons {
  font-size: 2.3em;
}
.lunchItem {
  padding-top: 0;
  padding-bottom: 0;
}
.dish-card {
  min-height: 100px;
  height: 140px;
  max-height: 140px;
}
.card-row {
  max-height: 140px;
}
body > div.popup-container.popup-showing.active > div > div.popup-buttons > button.button.ng-binding.button-stable {
  visibility: hidden;
}
.date-button {
  width: 154px;
  min-width: 154px;
}
h1 {
  display: inline;
}
h2.settings-title {
  font-size: 1.5em;
}
date {
  font-size: 1.3em;
}
.show-overflow {
  white-space: normal;
}

// The color of the times on the week card
ion-list:first-child .time-range {
  color: $timeRangeColor;
}
.button-fab-right {
  float: right;
  margin-top: -14px;
}
ionic-datepicker {
  margin-left: auto;
}
a.lessonlink {
  text-decoration: none;
}
.bar-subheader {
  padding: 0;
  .button-bar a {
    height: 47px;
    max-width: none;
    text-align: center;
    vertical-align: middle;
    padding-top: 5px;
    font-size: 1em;
  }
}
