{
    "env": {
        "browser": true,
        "node": true
    },
    "globals": {
        "angular": true,
        "cordova": true
    },
    "rules": {
        "quotes": [1, "single"],
        "curly": 1
    }
}